{% extends 'template.html' %}
{% load static %}
{% block title %}
    Tableau de Bord
{% endblock title %}
{% block content %}
    
<!-- Overlay effect when opening sidebar on small screens -->
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h3><b><i class="fa fa-dashboard"></i> Tableau de Bord </b></h3>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Enseignants Chercheurs</h4>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>99</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Enseignants Vacataires</h4>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>23</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Agents Contractuels</h4>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>50</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Conges</h4>
      </div>
    </div>

    <div class="w3-quarter w3-margin-top">
      <div class="w3-container w3-blue-gray w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>34</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Administratifs </h4>
      </div>
    </div>

    <div class="w3-quarter w3-margin-top">
      <div class="w3-container w3-gray w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>1200</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Personnel</h4>
      </div>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <h2 style="text-align: center; font-weight: bold;"> Graphique par Sexe</h2>
    <div class="w3-row" style="display: flex; justify-content:space-around;">
      <div class="w3-third w3-border" style="width: 45%; margin-bottom: 5%;">
        <h2 style="text-align: center;"> Circulaire</h2>
        <img src="data:image/png;base64,{{ graphique_circulaire_sexe }}" alt="Graphique Circulaire" width="100%" height="auto">
      </div>
      <div class="w3-third w3-border " style="width: 45%; margin-bottom: 5%;">
        <h2 style="text-align: center;"> Barre</h2>
        <img src="data:image/png;base64,{{ graphique_barres_sexe }}" alt="Graphique Barre" width="100%">
      </div>
    </div>
    <hr>
    <h2 style="text-align: center; font-weight: bold;"> Graphique par Hiérarchie</h2>
    <div class="w3-row" style="display: flex; justify-content:space-around;">
      <div class="w3-third w3-border" style="width: 45%; margin-bottom: 5%;">
        <h2 style="text-align: center;"> Circulaire</h2>
        <img src="data:image/png;base64,{{ graphique_circulaire_grade }}" alt="Graphique Circulaire" width="100%" height="auto">
      </div>
      <div class="w3-third w3-border " style="width: 45%; margin-bottom: 5%;">
        <h2 style="text-align: center;"> Barre</h2>
        <img src="data:image/png;base64,{{ graphique_barres_grade }}" alt="Graphique Barre" width="100%">
      </div>
    </div>
  </div>

{% endblock content %}
  