{% extends 'template.html' %}
{% load static %}


{% block title %}
    Details Documents Analytiques
{% endblock title %}


{% block styles %}
.w3-quart {
  background-color: #f5f3f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.2);
  width: 100%; /* Ajuster la largeur du formulaire selon les besoins */
  max-width: 90%;
  margin: 30px 5px 10px 10px;
}
  header {
    margin-top: 50px;
    background-color: #5b0d28;
    color: white;
    padding: 8px;
    text-align: center;
  }
  table {
    margin: 30px 0px;
  }
{% endblock styles %}
    

{% block content %}
    
    <div class="w3-container">
      <header>
        <h3>L'ensemble des Generer par {{tlettre}}</h3>
      </header>
      {% if trouver %}
        <table class="w3-table-all">
            <thead>
              <tr style="background-color: #5b0d28; color:white;">
                <th>#</th>
                <th>Matricule</th>
                <th>Prénoms et Nom</th>
                <th>Type de Lettre</th>
                <th>Date de création</th>
                <th>Action</th>
              </tr>
            </thead>
            
            {% for lettre in lettres %}
              <tr>
                <td>{{lettre.id}}</td>
                <td>{{lettre.personnel.matricule}}</td>
                <td>{{lettre.personnel.nom}} {{lettre.personnel.prenom}}</td>
                <td>{{lettre.typelettre}}</td>
                <td>{{lettre.datejour}}</td>
                <td>
                  <button>
                    <a href="#">View</a>
                  </button>
                  <button>
                    <a href="#">Imprimer</a>
                  </button>
                </td>
              </tr>
            {% endfor %}
              
            
          </table>
          {% else %}
          <div class="w3-quart">
            <div style="text-align: center;">
             <h3>AUCUN DOCUMENT GENERER N'EST DISPONIBLE POUR CE TYPE DE LETTRE</h3>
             </div>
        </div>
          {% endif %}
    </div>

{% endblock content %}
    
    