{% extends 'template.html' %}
{% load static %}

{% block title %}
    Document Analytique 
{% endblock title %}


{% block styles %}
#containerDocumentAnalytique {
    background-color: #f5f3f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.2);
    width: 100%; /* Ajuster la largeur du formulaire selon les besoins */
    max-width: 90%;
    margin: auto;
  }
{% comment %} .documentContainer header {
    background-color: #5b0d28;
    color: white;
    padding: 8px;
    text-align: center;
  } {% endcomment %}
  
  .DocumentAnalytique nav {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;   
    width: 93%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
  }
  .DocumentAnalytique header {
    background-color: #5b0d28;
    color: white;
    padding: 8px;
    text-align: center;
  }
  
  .DocumentAnalytique h2 {
    text-align: center;
    font-weight:bold;
    border-bottom: 3px solid black;
    margin-bottom: 5%;
  }

  .DocumentAnalytique nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .DocumentAnalytique nav ul li {
    margin-bottom: 10px;
  }
  
  .DocumentAnalytique nav ul li a {
    display: block;
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align:center;
    text-decoration: none;
    color: #5b0d28;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .DocumentAnalytique nav ul li a:hover {
    background-color: #5b0d28;
    color: white;
  }
{% endblock styles %}
     
{% block content %}
<div id="containerDocumentAnalytique">
    <div class="DocumentAnalytique">
      <header>
        <h3>Les Types de Document</h3>
    </header>
    <nav>
        <ul>
            <h2>Pour quel type de lettre ou Document ?</h2>
            <h3>Les documents de types lettre Ordinaire</h3>
            {% for tlettre in tlettres %}
            <li><a href="{% url 'genereDocL' tlettre.id %}">{{tlettre.nom}}</a></li>
            {% endfor %}
            <h3>Les documents de types lettre Bancaire</h3>
          {% for tbanque in tbanques %}
            <li><a href="{% url 'genereDocB' tbanque.id %}">{{tbanque.nom}}</a></li>
          {% endfor %}
        </ul>
    </nav>
    </div>
</div>
{% endblock content %}
    