{% load static %}
<!DOCTYPE html>
<html> 
<head>
<title>
  {% block title %}
  {% endblock title %}
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'assets/images/logoCI.jpeg' %}" type="image/png">
<link rel="stylesheet" href="{% static 'assets/css/w3.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
<link href="{% static 'assets/css/boxicons.min.css' %}" rel='stylesheet'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet'>


<style>
  {% block styles %}
    
  {% endblock styles %}
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
footer{
  background-color: #5b0d28;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
.menu a:hover, #Demo1 a:hover {
  background-color: #5b0d28 !important;
  color: white !important;
  
}
</style>
</head>
<body>

<!-- Top container -->
<div class="w3-bar w3-top w3-large" style="z-index:4; background-color : #5b0d28">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-list fa-fw"></i>MENU</button>
  {% comment %} <span class="w3-bar-item" style="margin-left: 40%;"><h1 style="font-weight: bold;">GESTION DU PERSONNEL</h1></span> {% endcomment %}
  <div style="display: flex;justify-content: space-around;">  
    <div class="w3-bar-item"><img  width=25% heigth=30% src="{% static 'assets/images/logo.png' %}" alt="LOGO"> </div> 
    <div class="w3-bar-item"><h3 style="text-align:center; color:white; font-weight:bold;">GESTION DU PERSONNEL DE L'UNIVERSITE GAMAL ABDEL NASSER DE CONAKRY </h3>   </div> 
    <div class="w3-bar-item"><img  width=25% heigth=30% src="{% static 'assets/images/logoCI.jpeg' %}" alt="LOGO" class="w3-right"> </div> 
  </div>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-animate-left" style="z-index:3;width:300px; font-weight:bold; background-color:#fff7ed" id="mySidebar"><br>
  <div class="">
    <div class="">
      <a href="#" >
        <img tilte="Cliquer ici pour voir votre profil" src=" {% static 'assets/images/profil.png' %}" class="w3-circle w3-margin-right" style="width:46px">
      </a>
    </div>
    <div  >
      <span style="padding-left:5%"><strong>Mariama Tanou KOKOUMA</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5 style="text-align : center;"> Dashboard</h5>
  </div>
  <div class="w3-bar-block menu">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Fermer Menu</a>
    <a href=" {% url 'dashboard' %} " class="w3-bar-item w3-button w3-padding "><i class="fa fa-home fa-fw"></i> TABLEAU DE BORD</a>
    <a href="{% url 'personnel' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-male fa-fw"></i> PERSONNEL</a>
    <a href="{% url 'document' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-file fa-fw"></i> DOCUMENT</a>
    <a href="{% url 'conge' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-car fa-fw"></i> CONGES</a>
    <a id="myBtn" onclick="myFunc('Demo1')" class="w3-bar-item w3-button"><i class="fa fa-inbox w3-margin-right"></i>FORMATION<i class="fa fa-caret-down w3-margin-left"></i></a>
  <div id="Demo1" class="w3-hide w3-animate-left">
    <a href="{% url 'formationcours' %} " class="w3-bar-item w3-button w3-border-bottom test">
      <div class="w3-container">
        <span class="w3-opacity w3-large"> <i class="fa fa-refresh "></i> Formation en cours </span>
      </div>
    </a>
    <a href="historique" class="w3-bar-item w3-button w3-border-bottom test " >
      <div class="w3-container">
        <span class="w3-opacity w3-large"> <i class="fa fa-eye "></i> Historique</span>
      </div>
    </a>
    {% comment %} <a href="inscritformation" class="w3-bar-item w3-button w3-border-bottom test " >
      <div class="w3-container">
        <span class="w3-opacity w3-large"> <i class="fa fa-file "></i> Inscription</span>
      </div>
    </a> {% endcomment %}
  </div>
    <a id="myBtn" onclick="myFunc('Demo2')" class="w3-bar-item w3-button"><i class="fa fa-inbox w3-margin-right"></i>DOCUMENT ADMINISTRATIF<i class="fa fa-caret-down w3-margin-left"></i></a>
  <div id="Demo2" class="w3-hide w3-animate-left">
    <a href="{% url 'documentanalytique' %}" class="w3-bar-item w3-button w3-border-bottom test">
      <div class="w3-container">
        <span class="w3-opacity w3-large"> <i class="fa fa-refresh "></i> Documents Analytique </span>
      </div>
    </a>
    <a href="{% url 'generedocument' %}" class="w3-bar-item w3-button w3-border-bottom test " >
      <div class="w3-container">
        <span class="w3-opacity w3-large"> <i class="fa fa-file "></i> Généré un Document</span>
      </div>
    </a>
  </div>
    <a href="#" onclick="OpenModal()" style="width:auto;" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  DECONNEXION</a>
  </div>
</nav>
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:100px;">
{% block content %}
  {% comment %} Contenu de la page {% endcomment %}
{% endblock content %}
  
<!-- END CONTENT! -->

{% comment %} =================================== FOOTER ================================================
<!-- FOOTER START -->
<div class="footer">
  <div class="contain">
  <div class="col">
    <h1>LE PRODUCTEUR DU SITE</h1>
    <ul>
      <li>About</li>
      <li>Mission</li>
      <li>Services</li>
      <li>Social</li>
      <li>Get in touch</li>
    </ul>
  </div>
  <div class="col">
    <h1>LES PARTIES PRENANTES</h1>
    <ul>
      <li>About</li>
      <li>Mission</li>
      <li>Services</li>
      <li>Social</li>
      <li>Get in touch</li>
    </ul>
  </div>
  <div class="col">
    <h1>LES RESPONSABLES DE LA DRH</h1>
    <ul>
      <li>About</li>
      <li>Mission</li>
      <li>Services</li>
      <li>Social</li>
      <li>Get in touch</li>
    </ul>
  </div>
  <div class="col">
    <h1>CONTACTER LE/LA DIRECTEUR(TRICE) DE LA RH</h1>
    <ul>
      <li>Webmail</li>
      <li>Redeem code</li>
      <li>WHOIS lookup</li>
      <li>Site map</li>
      <li>Web templates</li>
      <li>Email templates</li>
    </ul>
  </div>
  <div class="col social">
    <h1>Réseau Social</h1>
    <ul>
      <li><img src="{% static 'assets/images/profil.png' %}"  style="width: 32px;"></li>
      <li><img src="{% static 'assets/images/profil.png' %}"  style="width: 32px;"></li>
      <li><img src="{% static 'assets/images/profil.png' %}"  style="width: 32px;"></li>
    </ul>
  </div>
<div>{% endcomment %}
<!-- END OF FOOTER -->
<footer>
  <p>&copy; 2024 Université Gamal Abdel Nasser De Conakry</p>
</footer>
</div>


{% comment %} PAGE DE DECONNEXION  {% endcomment %}
<div id="idDeconnexion" class="modal">
  <form class="modal-content animate" action="" method="POST">
    {% csrf_token %}
    <input type="checkbox" name="is_deconnect" id="" hidden checked>
      <div style="height: 60px; width:100%; background-color:#f77F00"></div>
      <div class="imgcontainer">
        <h2>DECONNEXION</h2>
        <p>Voulez-vous vous Déconnectez !</p>
      </div>
      <div class="containerS">
        <div>
          <a href="/loginSignup"><button type="submit" class="loginbtn">OUI</button></a>
        </div>
        <div>
          <button type="button" onclick="CloseModal()" class="cancelbtn">NON</button>
        </div>
      </div>
    </form>
  </div>
  <script src="{% static 'assets/js/script.js' %}">
  </script>
</body>
</html>

