<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generer un Document ! </title>
    <style>
        .container {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Titre du Document ! </h2>
        <h3>Titre de la lettre : </h3><span></span>
        <h4>Nom du proprietaire : </h4><span></span>
        <h4>Matricule : </h4> <span></span>
        <h4>Fonction : </h4><span></span>
        <h4>Date du Jour : </h4> <span></span>
    </div>
</body>
</html>