{% extends 'template.html' %}

{% block title %}
    Gestion du Personnel 
{% endblock title %}

{% block styles %}
.tablePersonnel {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

.tableContainer h3, .tableContainer h6 {
    font-weight: bold;
    text-align:center;
}


.tablePersonnel th, .tablePersonnel td {
    border: 1px solid #555353;
    text-align: center;
    padding: 8px;
}

.tablePersonnel th {
    background-color: #5b0d28;
    color: white;
}
.tableContainer {
    margin: auto;
}

    
.inputPersonne {
    padding: 8px;
    margin-bottom: 0px;
    width: 400px;
    border-radius:5px;
}


.buttonSearchPersonnel {
    padding: 8px;
    margin-bottom: 0px;
}

.selectFilter {
    padding: 8px;
    margin-bottom: 0px;
}

.btnImprimer {
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    width: auto;
    padding: 8px;
}

{% endblock styles %}
    
{% block content %}
    <div class="w3-container">
        <h2 style="font-weight: bold; text-align:center; margin-top:20px">GESTION PERSONNEL </h2>
        <div class="ContainerRechercher" style="display:flex; flex-direction:column">
           <div style="margin-bottom: 7px;">
                <a href="{% url 'downloadPersonnel' %}" >
                    <button style="margin-left:5px;"  class="w3-right w3-button w3-hover-green w3-indigo w3-round-xxlarge w3-wide">
                       <i></i> <b>Téléchargé la liste</b> 
                    </button>
                </a>
                <a href="{% url 'ViewPersonnels' %}">
                    <button class="w3-right w3-button w3-hover-green w3-indigo w3-round-xxlarge w3-wide">
                       <i></i> <b>Visualisé</b>
                    </button>
                </a>
            </div>
            <div>
                <form action="{% url 'personnel' %}" class="formContainer w3-right" method="post">
                    {% csrf_token %}
                    <input type="text" name="searchField" placeholder="Rechercher..." class="inputPersonne" id="searchInput">
                    <select name="cat" id="" class="selectFilter">
                        <option value="all">Tous</option>
                        <option value="ag">Faculté</option>
                        <option value="faculte">Département</option>
                        <option value="matricule">Matricule</option>
                    </select>
                    <button type="submit" class="buttonSearchPersonnel">RECHERCHER</button>
                </form>
            </div>
        </div>
        <div style="border-bottom: 2px solid grey;"></div>
        
        {% if is_cat %}
            <div style="margin-bottom: 20px;" class="tableContainer">
                
                {% for categorie in categories %}
                    <h3><u>{{categorie.administrationGeneral.nom}}</u></h3>
                    <h6>{{categorie.nomcategorie}}</h6>
                    <table class="tablePersonnel" id="myTable">
                        <thead>
                            <tr>
                                <th>Matricule</th>
                                <th>Nom et Prénom</th>
                                <th>Sexe</th>
                                <th>Hiérarchie</th>
                                <th>Fonction</th>
                                <th>Spécialité </th>
                                <th>Statut </th>
                                <th>Catégorie </th>
                                <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for personnel in personnels %}
                                <tr>
                                    <td> {{personnel.matricule}} </td>
                                    <td> {{personnel.nom}} {{personnel.prenom}} </td>
                                    <td>{{personnel.sexe}}</td>
                                    <td>{{personnel.hierarchie}}</td>
                                    <td> {{personnel.fonction}} </td>
                                    <td>{{personnel.specialite}}</td>
                                    <td>{{personnel.statut}}</td>
                                    <td>{{personnel.categorie.nomcategorie}}</td>
                                    <td style="text-align:center;"><a href="{% url 'detailspersonnel' personnel.id %}" style=" color:blue" class="fa fa-eye fa-fw">{% comment %}</a><a href="#"  class="fa fa-pencil fa-fw"></a><a  href="#" class="fa fa-trash fa-fw"></a>{% endcomment %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
                    
                   
            </div>
        {% else %}
            {% for adminG in administrationGenerals %}
    
                <div style="margin-bottom: 20px;" class="tableContainer">
                    <h3><u>{{adminG.nom}}</u></h3>
                    
                    {% for categorie in categories %}
                        {% if categorie.administrationGeneral.nom == adminG.nom %}
                            <h6>{{categorie.nomcategorie}}</h6>
                            <table class="tablePersonnel" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Matricule</th>
                                        <th>Nom et Prénom</th>
                                        <th>Sexe</th>
                                        <th>Hiérarchie</th>
                                        <th>Fonction</th>
                                        <th>Spécialité </th>
                                        <th>Statut </th>
                                        <th>Catégorie </th>
                                        <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for personnel in personnels %}
                                        {% if personnel.categorie.nomcategorie == categorie.nomcategorie %}
                                        <tr>
                                            <td> {{personnel.matricule}} </td>
                                            <td> {{personnel.nom}} {{personnel.prenom}} </td>
                                            <td>{{personnel.sexe}}</td>
                                            <td>{{personnel.hierarchie}}</td>
                                            <td> {{personnel.fonction}} </td>
                                            <td>{{personnel.specialite}}</td>
                                            <td>{{personnel.statut}}</td>
                                            <td>{{personnel.categorie.nomcategorie}}</td>
                                            <td style="text-align:center;"><a href="{% url 'detailspersonnel' personnel.id %}" style=" color:blue" class="fa fa-eye fa-fw">{% comment %}</a><a href="#"  class="fa fa-pencil fa-fw"></a><a  href="#" class="fa fa-trash fa-fw"></a>{% endcomment %}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}    
                </div>

            {% endfor %}
        {% endif %}    
    </div>
{% endblock %}
