{% extends 'template.html' %}
{% load static %}

{% block title %}
    Formulaire de Générer un Document Autaumatique 
{% endblock title %}

{% block styles %}
    .GenereDoc h3{
        text-align:center;
    }
{% endblock styles %}
    

{% block content %}
{% if message_success != "" %}
    <h2>{{message_success}}</h2>
{% endif %}
    <form action="#" method="POST" id="Ajoutconge" class="GenereDoc">
        {% csrf_token %}
        <h1>GENERER UN DOCUMENT</h1>
        <h3>{{tbanque.nom}}</h3>

        <select name="matricule" id="" class="selectFilter">
            <option value="all">Selectionner un matricule</option>
            {% for matricule in matricules %}
                <option value="{{matricule.matricule}}">{{matricule.matricule}}</option>
            {% endfor %}
                
        </select>
        <label for="nombanque">Nom de la Banque</label>
        <input type="text" placeholder="Entrez le nom de la Banque " name="nombanque" required>
        
        <label for="numerobanque">Numero de la Banque</label>
        <input type="text" placeholder="Entrez le numéro de la Banque " name="numerobanque" required>
        
        <label for="datejour">Date du Jour</label>
        <input type="date" placeholder="Entrez la date jour " name="dateJour" required>
        
        <input type="checkbox" name="remember">
        <label> Confirmez-vous la Gestion du Document </label>

        <button type="submit">GENERER</button>
        <button type="button" class="cancel" onclick="cancelForm()">ANNULER</button>
    </form>
{% endblock content %}
    